div.stats {
	width:100%;
	text-align:center;
	margin-top:10px;
}
div.cp {
	width:100%;
	text-align:center;
	font-size:12px;
	margin-top:20px;
}

span.vis {
	font-family:monospace;
	background-color:#e4eeff;
	padding:2px 6px;
	font-size:11px;
}